* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Roboto, sans-serif;
}

:root {
    --gray-100: #8a8a8a;
    --gray-300: #343436;
    --blue_800: #1c1c22;
    --pink-light: #C649E5;
    --pink-light-300: #d078e6;
}
